.mediaViewInfo {
	--web-view-name: Web 1366 – 1;
	--web-view-id: Web_1366__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1366__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1366__1 {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1366 – 1;
	--web-view-id: Web_1366__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_1 {
	opacity: 0.902;
	fill: rgba(237,28,36,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 84px;
	left: 0px;
	top: 0px;
}
#Rectangle_1_copy {
	opacity: 0.2;
	fill: rgba(237,28,36,1);
}
.Rectangle_1_copy {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 118px;
	left: 0px;
	top: -7px;
}
#logo_tipografi {
	opacity: 0.302;
	position: absolute;
	width: 550px;
	height: 498px;
	left: 76px;
	top: 186px;
	overflow: visible;
}
#Rectangle_1_q {
	fill: rgba(198,198,198,0.502);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_q {
	position: absolute;
	overflow: visible;
	width: 554px;
	height: 581px;
	left: 746px;
	top: 144px;
}
#Daftar_Sekarang {
	left: 824px;
	top: 158px;
	position: absolute;
	overflow: visible;
	width: 393px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
#Component_5__1 {
	position: absolute;
	width: 484px;
	height: 74px;
	left: 778px;
	top: 240px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 484px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#your_email {
	opacity: 0.4;
	left: 174px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Component_6__1 {
	position: absolute;
	width: 484px;
	height: 74px;
	left: 778px;
	top: 347px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 484px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#your_password {
	opacity: 0.4;
	left: 151px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 190px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Component_7__1 {
	position: absolute;
	width: 484px;
	height: 74px;
	left: 778px;
	top: 446px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 484px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#retype_password {
	opacity: 0.4;
	left: 135px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Component_3__1 {
	position: absolute;
	width: 364px;
	height: 60px;
	left: 838px;
	top: 553px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(252,209,211,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#daftar {
	left: 143px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Component_4__1 {
	position: absolute;
	width: 364px;
	height: 60px;
	left: 838px;
	top: 631px;
	overflow: visible;
}
#Rectangle_6 {
	fill: rgba(252,209,211,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#sudah_punya_akun_ {
	left: 52px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 261px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}